<div class="buttons">

  <a class="btn dropdown dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filtres</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Admis</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Libre</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">En attente</a>
  </div>

  <div data-bs-toggle="modal" data-bs-target="#createVacataire" class="btn">Ajouter un vacataire</div>

</div>

<div class="vacataires">
  <app-vacataire></app-vacataire>
</div>

<!-- Modal -->
<div class="modal fade" id="createVacataire" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createVacataireLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createVacataireLabel">Ajouter un vacataire :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </div>
</div>