.cours {
  margin: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.cours-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
  text-align: center;
  height: 150px;
}

.expand {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}



.cours-color {
  position: absolute;
  width: 50px;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 6px 0 0 6px;
}

@media screen and (max-width: 768px) {
  .cours {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 425px) {
  .cours {
    grid-template-columns: repeat(1, 1fr);
  }
}
