.not-found {
    display: flex;
    flex-direction: column;
    gap: 20px   ;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.title {
    font-size: 200px;
}

.subtitle {
    font-size: 30px;
}

.text {
    font-size: 18px;
}

@media screen and (max-width: 425px){
    .title {
        font-size: 100px;
    }
    .subtitle {
        font-size: 20px;
    }
    .text {
        font-size: 12px;
    }
    .btn {
        font-size: 12px;
    }
}
