<div class="d-flex container justify-content-center">

  <article class="body">

    <div class="shadow-lg rounded bg-white p-4 center">
      <form
        action="#"
        name="connectionForm"
        #f="ngForm"
        class="shadow bg-white p-4 rounded"
      >

        <div class="form-outline mb-3 mt-3">
          <label class="form-label" for="password">Mot de passe actuel</label>
          <input class="form-control border-secondary" name="password" id="password"
                 [(ngModel)]="form.password" type="password">
        </div>

        <div class="alert alert-danger" role="alert" style="display: none;" id="alertPass">
          Identifiants invalides
        </div>

        <div class="form-outline mb-3 mt-3">
          <label class="form-label" for="newPassword">Nouveau mot de passe</label>
          <input class="form-control border-secondary" name="newPassword" id="newPassword"
                 [(ngModel)]="form.newPassword" #lastName="ngModel" type="password">
        </div>

        <div class="alert alert-success" role="alert" style="display: none;" id="alertCreated">
          Mot de passe modifié avec succés
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)='changePassword(form.password, form.newPassword)'>
            Changer le mot de passe
          </button>
        </div>
      </form>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger mt-4" (click)='disconnect()'>Déconnexion</button>
      </div>
    </div>

  </article>
</div>




