<div class="gradient-div">
  <!-- Contenu de la div ici -->
</div>

<header *ngIf="!isNotFoundRoute()">
  <div class="navlogo">
    <a href="https://www.iut-blagnac.fr/fr/"><img src="../assets/img/logo.svg" alt="Logo de l'input"></a>
  </div>

  <div class="navbar" [ngClass]="{ 'active': isNavbarActive }">
    <ul>
      <li><a routerLink="/vacataires" routerLinkActive="active" ariaCurrentWhenActive="page">Vacataires</a></li>
      <li><a routerLink="/cours" routerLinkActive="active" ariaCurrentWhenActive="page">Cours</a></li>
      <li><a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">Profil</a></li>
    </ul>
  </div>

  <div class="responsive-menu" (click)="toggleNavbarActive()">
    <i class="fa-solid fa-bars"></i>
  </div>

</header>

<router-outlet></router-outlet>
