<!-- <h1>Composant : cours</h1>

<button (click)="afficherCours()" class="btn btn-secondary">Afficher cours</button> -->

<div class="cours">
  <div *ngFor="let cours of cours" class="cours-card">

    <div class="expand" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal-' + cours.id">
      <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
    </div>

    <!-- <div class="profile-pic"><img [src]="'../../../assets/img/profile-pic' + cours.id + '.svg'" alt="profile-pic"></div> -->
    <div class="cours-color">

    </div>

    <div class="content">
      <div class="name">{{ cours.name }}</div>
      <div class="departement">Département {{ cours.department }}</div>
      <div class="email">{{ cours.tutors }}</div>
    </div>

    <!-- Modal du vacataire actuel -->
    <div class="modal fade" [id]="'exampleModal-' + cours.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ cours.name }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Contenu du modal pour ce vacataire -->
            <p>Département : {{ cours.department }}</p>
            <p>Email : {{ cours.name }}</p>
            <!-- Ajoutez d'autres informations du vacataire si nécessaire -->
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#exampleModalToggle2-' + cours.id" data-bs-toggle="modal" data-bs-dismiss="modal">Affecter</button> -->
            <button type="button" class="btn btn-secondary">Modifier</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>

    <!-- TODO : trouver une autre fonctionnalité pour ce btn
      <div class="modal fade" [id]="'exampleModalToggle2-' + cours.id" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModal  ToggleLabel2">Affecter {{ cours.name }} à un cours</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Nom du cours :</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary">Valider</button>
          </div>
        </div>
      </div>
    </div>
     -->
  </div>
</div>
