.buttons {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 50px 50px;
}
.btn {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search {
  cursor: default;
  max-width: 100%;
}
.search:active {
  border-color: var(--bs-btn-border-color);
}
.search label {
  margin-right: 4px;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-item-text {
  -webkit-user-select: none;
  user-select: none;
}
.dropdown-menu .dropdown-item-text:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--bs-dropdown-link-hover-bg);
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  /* left: calc(100% - 4px); */
  top: -7px;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.dropdown-submenu .dropdown-item {
  position: relative;
}

.dropdown-menu .dropdown-item[aria-selected="true"]::after {
  position: absolute;
  content: '';
  background-color: #3e3e3e;
  height: 6px;
  width: 6px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  right: 8px;
}

.dropdown-menu .dropdown-item.active-filter::after {
  position: absolute;
  content: '🔍';
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.dropdown-menu .dropdown-item.active-filter:hover::before {
  position: absolute;
  content: '❌';
  right: 8px;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill {
  background-color: #007bff;
  color: white;
  padding: 4px 8px;
  margin: 3px;
  border-radius: 4px;
  display: inline-block;
  align-items: center;
}

.delete-icon {
  cursor: pointer;
  margin-left: 4px;
  font-weight: bold;
}

.help-container{
  display:flex;
  align-items:center;
}

#green-circle{
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background: #39C872;
}

#gray-circle{
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background: #C0C0C0;
}

#red-circle{
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background: #EE5757;
}


