<div class="buttons">

  <a class="btn dropdown dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filtres</a>
  <ul class="dropdown-menu" (click)="$event.stopPropagation()">
    <li>
      <span class="dropdown-item-text" *ngIf="!isFiltered('status')">Affectation</span>
      <a class="dropdown-item active-filter" [routerLink]="['/vacataires']" [queryParams]="{ 'status': null }" queryParamsHandling="merge" replaceUrl="true" *ngIf="isFiltered('status')">Affectation</a>
      <ul class="dropdown-menu dropdown-submenu" *ngIf="vacataires.length !== 0">
        <li *ngFor="let s of status">
          <a class="dropdown-item" [routerLink]="['/vacataires']" [queryParams]="{ 'status': s }" queryParamsHandling="merge" replaceUrl="true" [attr.aria-selected]="filtres['status'] === s">{{ s }}</a>
        </li>
      </ul>
    </li>
    <li>
      <span class="dropdown-item-text" *ngIf="!isFiltered('modules')">Matière</span>
      <a class="dropdown-item active-filter" [routerLink]="['/vacataires']" [queryParams]="{ 'modules': null }" queryParamsHandling="merge" replaceUrl="true" *ngIf="isFiltered('modules')">Matière</a>
      <ul class="dropdown-menu dropdown-submenu" *ngIf="matieres.length !== 0">
        <li *ngFor="let matiere of matieres">
          <a class="dropdown-item" [routerLink]="['/vacataires']" [queryParams]="{ 'modules': matiere }" queryParamsHandling="merge" replaceUrl="true" [attr.aria-selected]="filtres['modules'] === matiere">{{ matiere }}</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="btn search flex-wrap">
    <label for="search">Rechercher par nom : </label>
    <input type="text" class="form-control w-auto" id="search" name="search" [value]="currentSearch" (input)="search($event)">
  </div>

  <div data-bs-toggle="modal" data-bs-target="#createVacataire" class="btn">Ajouter un vacataire</div>

</div>

<div class="vacataires">
  <app-le-vacataire [vacataires]="vacataires" [filtres]="filtres"></app-le-vacataire>
</div>

<div class="modal fade" id="createVacataire" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createVacataireLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable  ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createVacataireLabel">Ajouter un vacataire :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form
          action="#"
          name="createVacataireForm"
          #f="ngForm"
        >
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="form.name" #name="ngModel">
            <label for="name">Prénom :</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="lastName" id="lastName" [(ngModel)]="form.lastName" #lastName="ngModel">
            <label for="lastName">Nom de famille : </label>
          </div>

          <!-- <select class="form-select mb-3" multiple aria-label="multiple select example" id="department" name="department" [(ngModel)]="form.department" #department="ngModel">
            <option selected disabled>Départments :</option>
            <option value="info">Informatique</option>
            <option value="r&t">Réseaux & Télécommunication</option>
            <option value="cs">Carrière sociales</option>
            <option value="gim">Génie Industriel et Maintenance</option>
          </select> -->

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="phone" id="phone" [(ngModel)]="form.phone" #phone="ngModel" placeholder="0648618251">
            <label for="phone">Numéro de téléphone : </label>
          </div>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="email" [(ngModel)]="form.email" #email="ngModel" placeholder="email@gmail.fr">
            <label for="email">Adresse Email : </label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="github" id="github" [(ngModel)]="form.github" #github="ngModel" placeholder="github.gg//christopher">
            <label for="github">Profil GitHub : </label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="skills" id="skills" [(ngModel)]="form.skills" #skills="ngModel" placeholder="ihm dev bd" (input)="splitSkills()" >
            <label for="skills">Skills : </label>
          </div>

          <div class="skills-container mb-3">
            <div *ngFor="let comp of comp" class="skill">
              {{ comp }}
              <span class="delete-icon" (click)="removeSkill(comp)">X</span>
            </div>
          </div>





          <!-- <select class="form-select mb-3" multiple aria-label="multiple select example" id="skills" name="skills" [(ngModel)]="form.skills" #skills="ngModel">
            <option selected disabled>Départments :</option>
            <option value="info">Informatique</option>
            <option value="r&t">Réseaux & Télécommunication</option>
            <option value="cs">Carrière sociales</option>
            <option value="gim">Génie Industriel et Maintenance</option>
          </select> -->
        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="addVacataire(form.name, form.lastName, form.phone, form.email, form.github , form.skills)" data-bs-dismiss="modal">Ajouter</button>

          <!-- <button type="button" class="btn btn-primary" (click)='addVacataire(form.name, form.lastName, form.phone, form.email, form.linkedin, form.discord)'>Ajouter</button> -->
        </div>
      </div>

    </div>
  </div>
</div>
