<div class="buttons">

  <a class="btn dropdown dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filtres</a>
  <ul class="dropdown-menu" (click)="$event.stopPropagation()">
    <!-- Filtre Affectation -->
    <li>
      <span class="dropdown-item-text" *ngIf="!isFiltered('status')">Affectation</span>
      <a class="dropdown-item active-filter" [routerLink]="['/vacataires']" [queryParams]="{ 'status': null }" queryParamsHandling="merge" replaceUrl="true" *ngIf="isFiltered('status')">Affectation</a>
      <ul class="dropdown-menu dropdown-submenu">
        <li *ngFor="let s of status">
          <a class="dropdown-item" [routerLink]="['/vacataires']" [queryParams]="{ 'status': s }" queryParamsHandling="merge" replaceUrl="true" [attr.aria-selected]="filtres['status'] === s">{{ s }}</a>
        </li>
        <span class="dropdown-item-text" *ngIf="status.length === 0">Pas de filtre disponible</span>
      </ul>
    </li>

    <li class="dropdown-divider"></li>

    <!-- Filtre Matière -->
    <li>
      <span class="dropdown-item-text" *ngIf="!isFiltered('modules')">Matière</span>
      <a class="dropdown-item active-filter" [routerLink]="['/vacataires']" [queryParams]="{ 'modules': null }" queryParamsHandling="merge" replaceUrl="true" *ngIf="isFiltered('modules')">Matière</a>
      <ul class="dropdown-menu dropdown-submenu">
        <li *ngFor="let matiere of matieres">
          <a class="dropdown-item" [routerLink]="['/vacataires']" [queryParams]="{ 'modules': matiere }" queryParamsHandling="merge" replaceUrl="true" [attr.aria-selected]="filtres['modules'] === matiere">{{ matiere }}</a>
        </li>
        <span class="dropdown-item-text" *ngIf="matieres.length === 0">Pas de filtre disponible</span>
      </ul>
    </li>
  </ul>

  <div class="btn search flex-wrap">
    <label for="search">Rechercher par nom : </label>
    <input type="text" class="form-control w-auto" id="search" name="search" [value]="currentSearch" (input)="search($event)">
  </div>

  <div data-bs-toggle="modal" data-bs-target="#createVacataire" class="btn">Ajouter un vacataire</div>

  <div class="help-status">
    <div class="help-container">
      <div id="green-circle"></div>
      <div>&#160;Vacataire affecté à un ou plusieurs modules.</div>
    </div>
    <div class="help-container">
      <div id="gray-circle"></div>
      <div>&#160;Vacataire désaffacté de tout ses modules.</div>
    </div>
    <div class="help-container">
      <div id="red-circle"></div>
      <div>&#160;Vacataire affecté à aucun cours ou nouveau.</div>
    </div>
  </div>
</div>

<div class="vacataires">
  <app-liste-vacataires [vacataires]="vacataires" [filtres]="filtres"></app-liste-vacataires>
</div>

<div class="modal fade" id="createVacataire" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createVacataireLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable  ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createVacataireLabel">Ajouter un vacataire :</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form
          action="#"
          name="createVacataireForm"
          #f="ngForm"
        >
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="form.name" #name="ngModel" pattern="^[a-zA-ZÀ-ÿ\s'\-]+$" value="test" required>
          <label for="name">Prénom :</label>

          <div class="form_error" *ngIf="name.invalid && (name.touched || name.dirty)">
            <div *ngIf="name.errors && name.errors['required'];">Le prénom est requis !</div>
            <div *ngIf="name.errors && name.errors['pattern'];">Le prénom ne doit avoir que des lettres !</div>
          </div>
        </div>

        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="form.lastName" #lastName="ngModel" pattern="^[a-zA-ZÀ-ÿ\s'\-]+$" required>
          <label for="lastName">Nom de famille :</label>

          <div class="form_error" *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)">
            <div *ngIf="lastName.errors && lastName.errors['required']">Le nom de famille est requis !</div>
            <div *ngIf="lastName.errors && lastName.errors['pattern'];">Le nom de famille ne doit avoir que des lettres !</div>
          </div>
        </div>

        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="form.phone" #phone="ngModel" pattern="^(0[1-9])(?:\d{2}){4}$" required>
          <label for="phone">Numéro de téléphone :</label>

          <div class="form_error" *ngIf="phone.invalid && (phone.touched || phone.dirty)">
            <div *ngIf="phone.errors && phone.errors['required']">Le numéro de téléphone est requis !</div>
            <div *ngIf="phone.errors && phone.errors['pattern']">Le numéro dois être au format FR (sans espace)!</div>
          </div>
        </div>

        <div class="form-floating mb-2">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="form.email" #email="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
          <label for="email">Adresse email :</label>

          <div class="form_error" *ngIf="email.invalid && (email.touched || email.dirty)">
            <div *ngIf="email.errors && email.errors['required']">L'adresse email est requise !</div>
            <div *ngIf="email.errors && email.errors['pattern']">L'adresse email n'est pas valide !</div>
          </div>
        </div>

        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="github" name="github" [(ngModel)]="form.github" #github="ngModel" pattern="/^(https?:\/\/)?(www\.)?github\.com\/[a-zA-Z0-9-]+\/?$/" >
          <label for="github ">URl du profil GitHub :</label>

          <div class="form_error" *ngIf="github.invalid && (github.touched || github.dirty)">
            <!-- <div *ngIf="github.errors && github.errors['required']">Le profil github est requis !</div> -->
            <div *ngIf="github.errors && github.errors['pattern']">L'URL du profil n'est pas bonne !</div>
          </div>
        </div>

        <div class="form">
          <select class="form-select" id="skills" name="skills" [(ngModel)]="selectedSkill">
            <option value="" disabled selected>Sélectionnez une compétence</option>
            <option *ngFor="let skill of skillsList" [value]="skill">{{ skill }}</option>
          </select>
        </div>
        <div class="d-flex mt-2 mb-2 justify-content-center">
          <button type="button" class="btn btn-primary" (click)="addSkill()">Ajouter Compétence</button>
        </div>


        <div class="skills-container mb-3">
          <ng-container *ngFor="let skill of form.skills">
            <div *ngIf="skill!=''" class="skill">{{ skill }}
              <span class="delete-icon" (click)="removeSkill(skill)"><i class="fa-solid fa-xmark"></i></span>
            </div>
          </ng-container>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
          <button id="btn-ajout" type="button" class="btn btn-primary" (click)="addVacataire(form.name, form.lastName, form.phone, form.email, form.github ,form.skills)" data-bs-dismiss="modal" [disabled]="name.errors || lastName.errors || phone.errors || email.errors || github.errors">Ajouter</button>
          <!-- <button type="button" class="btn btn-primary" (click)='addVacataire(form.name, form.lastName, form.phone, form.email, form.linkedin, form.discord)'>Ajouter</button> -->
        </div>


        </form>
      </div>
    </div>
  </div>
</div>
<!-- <button id="btn-test">test</button>
<div class="toast" id="myToast">
  <div class="toast-header">
      <strong class="me-auto"><i class="bi-gift-fill"></i> We miss you!</strong>
      <small>10 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
  </div>
  <div class="toast-body">
      It's been a long time since you visited us. We've something special for you. <a href="#">Click here!</a>
  </div>
</div> -->
