<div class="buttons">

    <a class="btn dropdown dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filtres</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Avec un vacataire</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Sans vacataire</a>
    </div>

    <div data-bs-toggle="modal" data-bs-target="#createCours" class="btn">Ajouter un cours</div>

  </div>

  <div class="les-cours">
    <app-cours></app-cours>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="createCours" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createCoursLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createCoursLabel">Ajouter un cours :</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
