<div class="buttons">

    <a class="btn dropdown dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filtres</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Avec un vacataire</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Sans vacataire</a>
    </div>

    <div data-bs-toggle="modal" data-bs-target="#createCours" class="btn">Ajouter un cours</div>

  </div>

  <div class="les-cours">
    <app-cours></app-cours>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="createCours" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createCoursLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createCoursLabel">Ajouter un cours :</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form action="#">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" placeholder="Jean-Michel">
              <label  for="name">Nom du cours :</label>
            </div>

            <select class="form-select mb-3" aria-label="Default select">
              <option selected>Choisir un départements :</option>

              <option value="BUT1">BUT1</option>
              <option value="BUT2">BUT2</option>
              <option value="BUT3">BUT3</option>
              <option disabled>──────────</option>
              <option value="RT1">RT1</option>
              <option value="RT2">RT2</option>
              <option value="RT2-A">RT2-A</option>
              <option value="RT3">RT3</option>
              <option value="RT3-A">RT3-A</option>
              <option disabled>──────────</option>
              <option value="CS1">CS1</option>
              <option value="CS2">CS2</option>
              <option value="CS3">CS3</option>
              <option disabled>──────────</option>
              <option value="GIM1">GIM1</option>
              <option value="GIM2">GIM2</option>
              <option value="GIM3">GIM3</option>
            </select>

            <label for="vacataires" class="form-label mb-3">Vacataires :</label>
            <div class="mb-3" id="vacataires">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="info" value="option1">
                <label class="form-check-label" for="info">INFO</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="r&t" value="option2">
                <label class="form-check-label" for="r&t">R&T</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="cs" value="option3">
                <label class="form-check-label" for="cs">CS</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="gim" value="option3">
                <label class="form-check-label" for="gim">GIM</label>
              </div>
            </div>

            <div class="d-flex align-items-center mb-3">

              <label for="moduleColor" class="col-form-label me-2">Couleur du module :</label>
              <input type="color" id="head" name="moduleColor" value="#e66465" />

            </div>
          </form>



          <!-- <form>
            <div >
              <label for="name" class="col-form-label">Nom :</label>
              <input type="text" class="form-control" id="name">
            </div>

            <div >
              <label for="departments">Département :</label>
              <select name="departments" id="departments" class="form-select" aria-label="Default select example">
                <option selected>--Choisissez une option--</option>
                <option value="BUT1">BUT1</option>
                <option value="BUT2">BUT2</option>
                <option value="BUT3">BUT3</option>

                <option value="RT1">RT1</option>
                <option value="RT2">RT2</option>
                <option value="RT2-A">RT2-A</option>
                <option value="RT3">RT3</option>
                <option value="RT3-A">RT3-A</option>

                <option value="CS1">CS1</option>
                <option value="CS2">CS2</option>
                <option value="CS3">CS3</option>

                <option value="GIM1">GIM1</option>
                <option value="GIM2">GIM2</option>
                <option value="GIM3">GIM3</option>

              </select>
            </div>

            <div class="department">
              <label for="vacataires" class="col-form-label">Vacataires :</label>
              <ul class="d-flex" id="vacataires">
                <li class="me-4">
                  <input type="checkbox" class="me-2" id="jmb">
                  <label for="jmb" class="col-form-label">JMB</label>
                </li>

                <li class="me-4">
                  <input type="checkbox" class="me-2" id="jmb">
                  <label for="jmb" class="col-form-label">LC</label>
                </li>

                <li class="me-4">
                  <input type="checkbox" class="me-2" id="jmb">
                  <label for="jmb" class="col-form-label">EP</label>
                </li>
              </ul>
            </div>

            <div>

              <label for="moduleColor" class="col-form-label">Couleur du module :</label>
              <input type="color" id="moduleColor" value="#9985FF" class="form-control">

            </div>
          </form> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
