
  <div class="mt-4 d-flex justify-content-center">
    <article class="body">

      <form
        action="#"
        name="connectionForm"
        #f="ngForm"

      >
        <div>
          <label class="form-label" for="name">Pseudo</label>
          <input type="text" class="form-control border-secondary" name="pseudo" id="pseudo" [(ngModel)]="form.pseudo" #name="ngModel" >
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="lastName">Mot de passe</label>
          <input type="text" class="form-control border-secondary" name="password" id="password" [(ngModel)]="form.password" #lastName="ngModel" type="password"  >
          <div class="alert alert-danger" role="alert" display="N">
            Invalid password
          </div>
        </div>

      </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger m-2" data-bs-dismiss="modal">Annuler</button>
    <button type="button" class="btn btn-primary" (click)='connect(form.pseudo, form.password)'>Connexion</button>
  </div>


  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

  </div>


  </article>
</div>
