<!-- <button (click)="addVacataire('Christopher', 'Marie-Angélique', 'christopher@gmail')">Ajouter un vacataire</button>

<div *ngFor="let vacataire of vacataires">
    <h3>Je suis un vacataires</h3>
    <ul>
        <li>ID : {{vacataire._id}}</li>
        <li>name : {{vacataire.name}}</li>
        <li>lastName : {{vacataire.lastName}}</li>
        <li>email : {{vacataire.email}}</li>
    </ul>
    <button (click)="deleteVacataire(vacataire._id)">Supprimer le vacataire</button>admis
</div> -->

<div class="vacataires">
  <ng-container *ngFor="let vacataire of vacataires; let i = index">
    <!-- Affichage de la carte en fonction des filtres -->
    <div class="vacataire" *ngIf="isInFilter(vacataire)">
      <div class="expand" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal-' + vacataire._id">
        <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
      </div>

      <div class="profile-pic"><img src='../../../assets/img/user-avatar.svg' alt="profile-pic"></div>

      <div class="content">
        <div class="name">{{ vacataire.name }} {{ vacataire.lastName }}</div>
        <div class="index">Vacataire n°{{i+1}}</div>
        <div class="email">{{ vacataire.email }}</div>
        <div class="skills">Skills : {{ vacataire.skills }}</div>
        <div class="skills">Modules : {{ vacataire.modules }}</div>
      </div>

      <div class="status" [ngClass]="getVacataireStatusClass(vacataire.status)"></div>

      <!-- Modal du vacataire actuel -->
      <div class="modal fade" [id]="'exampleModal-' + vacataire._id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ vacataire.name }} {{ vacataire.lastName }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Contenu du modal pour ce vacataire -->
              <p>Téléphone : {{ vacataire.phone }}</p>
              <p>Email : {{ vacataire.email }}</p>
              <p>github : {{ vacataire.github }}</p>
              <p>skills : {{ vacataire.skills }}</p>
              <p>modules : {{ vacataire.modules }}</p>
              <!-- Ajoutez d'autres informations du vacataire si nécessaire -->
            </div>
            <div class="modal-footer">
              <button *ngIf="vacataire.modules && vacataire.modules.length > 0" type="button" class="btn btn-warning" [attr.data-bs-target]="'#exampleModalToggle3-' + vacataire._id" data-bs-toggle="modal" data-bs-dismiss="modal">Désaffecter</button>
              <button type="button" class="btn btn-primary" [attr.data-bs-target]="'#exampleModalToggle2-' + vacataire._id" data-bs-toggle="modal" data-bs-dismiss="modal">Affecter</button>
              <button type="button" class="btn btn-secondary" [attr.data-bs-target]="'#editVacataireModal-' + vacataire._id" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="initializeFormWithId(vacataire._id)">Modifier</button>
              <button type="button" class="btn btn-danger" (click)="deleteVacataire(vacataire._id)">Supprimer</button>
            </div>

          </div>
        </div>
      </div>
      <div class="modal fade" [id]="'exampleModalToggle2-' + vacataire._id" (show.bs.modal)="onModalShow($event)" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel2">Affecter {{ vacataire.name }} {{ vacataire.lastName }} à un cours</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form
              action="#"
              name="affecterVacataire"
              #f="ngForm"
              >
                <div class="mb-3">
                  <label for="nomCours" class="col-form-label">Nom du cours :</label>
                  <select class="form-select" id="nomCours" name="name" [(ngModel)]="form.name">
                    <option value="" disabled selected >Sélectionnez un cours</option>
                    <option *ngFor="let c of cours" [value]="c.name">{{ c.name }}</option>
                  </select>
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger">
                  {{ errorMessage }}
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary" (click)="affecterVacataire(vacataire._id, form.name)" >Valider</button>
            </div>
          </div>
        </div>  
      </div>  

      <div class="modal fade" [id]="'exampleModalToggle3-' + vacataire._id" (show.bs.modal)="onModalShow($event)" aria-hidden="true" aria-labelledby="exampleModalToggleLabel3" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel3">Desaffecter {{ vacataire.name }} {{ vacataire.lastName }} à un cours</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form
              action="#"
              name="desaffecterVacataire"
              #f="ngForm"
              >
                <div class="mb-3">
                  <label for="nomCours" class="col-form-label">Nom du cours :</label>
                  <select class="form-select" id="nomCours" name="name" [(ngModel)]="form.name">
                    <option value="" disabled hidden selected >Sélectionnez un cours</option>
                    <option *ngFor="let vm of vacataire.modules" [value]="vm">{{ vm }}</option>
                  </select>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary" (click)="desaffecterVacataire(vacataire._id, form.name)" >Valider</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" [id]="'editVacataireModal-' + vacataire._id" tabindex="-1" aria-labelledby="editVacataireModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editVacataireModalLabel">Modifier le Vacataire : {{vacataire.name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form 
              class="row g-2"
              name="createVacataireForm"
              #f="ngForm"
              (ngSubmit)="f.form.valid && onSubmit(form.name, form.lastName, form.phone, form.email, form.github, form.skills)"
              >
                <div class="form-floating mb-2">
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="form.name" #name="ngModel" placeholder="name@example.com" value="test" required>
                  <label for="name">Prénom :</label>
      
                  <div class="form_error" *ngIf="name.errors && f.submitted">
                    <div *ngIf="name.errors['required']">Le nom est requis !</div>
                  </div>
                </div>
      
                <div class="form-floating mb-2">
                  <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="form.lastName" #lastName="ngModel" placeholder="name@example.com" required>
                  <label for="lastName">Nom de famille :</label>
      
                  <div class="form_error" *ngIf="lastName.errors && f.submitted">
                    <div *ngIf="lastName.errors['required']">Le nom de famille est requis !</div>
                  </div>
                </div>
      
                <div class="form-floating mb-2">
                  <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="form.phone" #phone="ngModel" placeholder="name@example.com" required>
                  <label for="phone">Numéro de téléphone :</label>
      
                  <div class="form_error" *ngIf="phone.errors && f.submitted">
                    <div *ngIf="phone.errors['required']">Le numéro de téléphone est requis !</div>
                  </div>
                </div>
      
                <div class="form-floating mb-2">
                  <input type="email" class="form-control" id="email" name="email" [(ngModel)]="form.email" #email="ngModel" placeholder="name@example.com" required>
                  <label for="email">Adresse email :</label>
      
                  <div class="form_error" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">L'adresse email est requise !</div>
                  </div>
                </div>
      
                <div class="form-floating mb-2">
                  <input type="text" class="form-control" id="github" name="github" [(ngModel)]="form.github" #github="ngModel" placeholder="name@example.com" required>
                  <label for="github ">Profil GitHub :</label>
      
                  <div class="form_error" *ngIf="github.errors && f.submitted">
                    <div *ngIf="github.errors['required']">Le profil github est requis !</div>
                  </div>
                </div>

                <div class="form">
                  <select class="form-select" id="skills" name="skills" [(ngModel)]="selectedSkill">
                    <option value="" disabled selected>Sélectionnez une compétence</option>
                    <option *ngFor="let skill of skillsList" [value]="skill">{{ skill }}</option>
                  </select>
                </div>
                <div class="d-md-block">
                  <button type="button" class="btn btn-primary" (click)="addSkill()">Ajouter Compétence</button>
                </div>


                <div class="skills-containers">
                  <ng-container *ngFor="let skill of vacataire.skills">
                    <div *ngIf="skill!=''" class="skill" >{{ skill }}
                      <span class="delete-icon" (click)="removeSkill(skill)"><i class="fa-solid fa-xmark"></i></span>
                    </div>
                  </ng-container>
                </div>
                
                
      
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary">Modifier le vacataire</button>
                </div>  
              </form>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </ng-container>
  <h1 *ngIf="vacataires.length === 0">Pas de vacataires trouvés.</h1>
</div>

